* {
    background-color: #000000;
    color: #FB2576;
    font-size: 1.5rem;
    text-align: center;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square{
    border: 1px solid #3F0071;
    flex: 1;
}

.arrange{
    display: flex;
}